---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { Icon } from 'astro-icon'
import '../css/main.css'
---

<Layout title="Alba Capital">
  <main class="mx-auto min-h-[150vh] max-w-screen-lg">
    <section
      class="datarellax relative flex min-h-screen items-center justify-center">
      <Icon
        name="alba_elements_grd"
        class="rellax absolute h-[347px] w-[300px]"
      />
      <Icon
        name="alba_elements_med"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="3"
        data-rellax-zindex="2"
      />
      <Icon
        name="alba_elements_peq"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="7"
        data-rellax-zindex="5"
      />
    </section>
    <section
      class="relative flex min-h-screen items-center justify-center py-96">
      <Icon
        name="alba_elements_grd"
        class="rellax absolute h-[347px] w-[300px]"
      />

      <Icon
        name="alba_elements_med"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="3"
        data-rellax-zindex="2"
      />

      <Icon
        name="alba_elements_peq"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="7"
        data-rellax-zindex="5"
      />
    </section>

    <section class="h-screen py-96"></section>
  </main>
</Layout>

<script>
  import '../js/rellax'
</script>
<style is:global>
  .unified svg {
    fill: #19585e;
    mix-blend-mode: unset;
  }
  svg {
    fill: #49ccd9;
    mix-blend-mode: difference;
  }
</style>
