---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import { Icon } from 'astro-icon'
import '../css/main.css'
---

<Layout title="Alba Capital">
  <main class="mx-auto min-h-[150vh] max-w-screen-lg">
    <section
      class="datarellax relative flex min-h-screen items-center justify-center">
      <Icon
        name="alba_elements_grd"
        class="rellax absolute h-[347px] w-[300px]"
      />
      <Icon
        name="alba_elements_med"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="3"
        data-rellax-zindex="2"
      />
      <Icon
        name="alba_elements_peq"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="7"
        data-rellax-zindex="5"
      />
    </section>
    <!-- <section class="flex min-h-[200vh] items-center justify-center">
      <div class="rellax" data-rellax-percentage="0.5">
        I’m that default chill speed of "-2" and "centered"
      </div>

      <div class="rellax" data-rellax-speed="7" data-rellax-percentage="0.5">
        I’m super fast!! And super centered!!
      </div>

      <div class="rellax" data-rellax-speed="-4" data-rellax-percentage="0.5">
        I’m extra slow and smooth, and hella centered.
      </div>
    </section>
    <section class="flex min-h-screen items-center justify-center">
      <div class="rellax">
        I’m that default chill speed of "-2" and default z-index of 0
      </div>

      <div class="rellax" data-rellax-speed="7" data-rellax-zindex="5">
        I’m super fast!! And on top of the previous element, I'm z-index 5!!
      </div>
    </section>

    <section class="flex min-h-screen items-center justify-center">
      <div
        class="rellax"
        data-rellax-speed="7"
        data-rellax-xs-speed="-5"
        data-rellax-mobile-speed="3"
        data-rellax-tablet-speed="-8"
        data-rellax-desktop-speed="1">
        I parallax at all different speeds depending on your screen width.
      </div>
      <div class="rellax" data-rellax-speed="-3">I’m slow and smooth</div>

      <div class="rellax" data-rellax-speed="7">I’m super fast!!</div>

      <div class="rellax" data-rellax-speed="-5">I’m extra slow and smooth</div>
    </section> -->
    <section
      class="relative flex min-h-screen items-center justify-center py-96">
      <Icon
        name="alba_elements_grd"
        class="rellax absolute h-[347px] w-[300px]"
      />

      <Icon
        name="alba_elements_med"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="3"
        data-rellax-zindex="2"
      />

      <Icon
        name="alba_elements_peq"
        class="rellax absolute h-[347px] w-[300px]"
        data-rellax-speed="7"
        data-rellax-zindex="5"
      />
    </section>
    <section
      class="unified relative flex min-h-screen items-center justify-center py-96">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        clip-rule="evenodd"
        viewBox="0 0 642 743">
        <g transform="translate(-4.047 -3.742)">
          <path
            id="grd"
            fill="#006d83"
            d="M960.892 568.296V1169.7h338.918V568.296h55.55l-207.19-95.804-17.82-45.305-18.53 45.638-206.49 95.471h55.562Zm199.088 125.741v66.996h-59.26v-66.996c0-14.695 13.26-26.612 29.63-26.612 16.36 0 29.63 11.917 29.63 26.612Z"
            transform="translate(-901.283 -423.446)"></path>
          <path
            id="med"
            fill="#009cbb"
            d="M1165.96 1124.91V716.09h-38.84l193.26-99.055 193.26 99.055h-37.45v408.82h-310.23Zm185.44-240.7h-59.27v-66.995c0-14.696 13.27-26.613 29.64-26.613 16.36 0 29.63 11.917 29.63 26.613v66.995Z"
            transform="translate(-867.686 -378.648)"></path>
          <path
            id="peq"
            fill="#79fbff"
            d="M1171.86 1169.7h-72.23V929.004h-25.76l125.68-81.183 125.69 81.183h-25.77V1169.7h-73.19v-66.99c0-14.39-11.88-26.11-26.73-26.6v-.02c-.18 0-.36.01-.54.01h-.41v.01c-14.85.48-26.74 12.21-26.74 26.6v66.99Z"
            transform="translate(-901.283 -423.446)"></path>
        </g>
      </svg>
    </section>

    <section class="h-screen py-96"></section>
  </main>
</Layout>

<script>
  import '../js/rellax'
</script>
<style is:global>
  .unified svg {
    fill: #19585e;
    mix-blend-mode: unset;
  }
  svg {
    fill: #49ccd9;
    mix-blend-mode: difference;
  }
</style>
